:root {
    --color-primary: #4ee06a;
    --color-secondary: #66e47e;
    --color-tertiary: #7fe893;
    --color-white: #fcfcfc;
}

.alert {
    margin: 15px 5%;
    border-radius: 5px;
    padding: 10px;
}


#error {
    border: 1px solid red;
    color: red;
}

#failed {
    border: 1px solid orange;
    color: orange;
}

#success {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.alert-close {
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}


.item-list {
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.item-list > .item {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: 1px solid #4ee06a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.headerContainer > h1 {
    text-align: center;
    color: #4ee06a;
}
